*.o
*.so
main
main_egtb
tmp.txt
tmp*
.vscode
*.egtb
*.zip
*.gz
*.zip.0
repair
*.DS_Store
logs
*.out
compress/libdeflate/*
!compress/libdeflate/libdeflate.h
compress/zstd/*
!compress/zstd/lib/zstd.h
compress/lz4/*
!compress/lz4/lib/lz4.h
egtbs/*